
<img src="" alt="">

<p style="background-color: bisque;"> Welcome {{name}} </p>

<h1 style="color: blueviolet;">Reset Your Password</h1>

<p>Your email is : {{email}}</p>

<p>Your new Password is : {{newPassword}}</p>